<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.operamdo.lockscreennotification">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.operamdo.lockscreennotification.MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.operamdo.lockscreennotification.LockScreenNoticicationAppWidget"
            android:label="@string/add_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lock_screen_noticication_app_widget_info" />
        </receiver>
        <receiver android:name=".LockScreenNoticicationAppWidget$NotificationUpdateReceiver" />

        <service
            android:name=".NotificationWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="com.operamdo.lockscreennotification.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
